html { 
	background: url(Standard/white.png) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/**************************************************************************/
a.button {
/*background-image: -moz-linear-gradient(top, #ffffff, #dbdbdb);
background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0, #ffffff),color-stop(1, #dbdbdb));
filter: progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#ffffff', EndColorStr='#dbdbdb');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#ffffff', EndColorStr='#dbdbdb')";
border: 1px solid #fff;
-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
border-radius: 18px;
-webkit-border-radius: 18px;
-moz-border-radius: 18px;
text-shadow: #fff 0 1px 0;
margin-bottom: 15px;
*/
text-decoration: none;
float: left;
display: block;
color: #597390;
line-height: 15px;
font-size: 13px;
font-weight: bold;
padding: 5px 10px;
}

a.button:hover {
background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0, #ffffff),color-stop(1, #eeeeee));
filter: progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#ffffff', EndColorStr='#eeeeee');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#ffffff', EndColorStr='#eeeeee')";
color: #000;
display: block;
text-decoration: underline;
}

a.button:active {
background-image: -moz-linear-gradient(top, #dbdbdb, #ffffff);
background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0, #dbdbdb),color-stop(1, #ffffff));
filter: progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#dbdbdb', EndColorStr='#ffffff');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#dbdbdb', EndColorStr='#ffffff')";
text-shadow: 0px -1px 0 rgba(255, 255, 255, 0.5);
margin-top: 1px;
}

a.button.icon {
padding-left: 11px;
}

a.button.icon.AccSettings span{
padding-left: 24px;
background: url(Images/processing.gif) no-repeat 0 -4px;
background-size:24px 24px;
}

a.button.icon.logout-btn span{
padding-left: 24px;
background: url(Images/lock.gif) no-repeat 0 -4px;
background-size:24px 24px;
}
/*************************************************************/

body 
{
	font-family: arial;
}

#logo{
	position: absolute;
	top: 9px;
}

.fNiv, .login-window {
	font-weight:bolder;
}

#Header {
	position: absolute;
	right: 0.45%;
	float: right;
	width: 500px;	
}

#AccSettings {

width   : 88px;
background  : none;
cursor  : pointer;
font-family : 'voltaeftu-regular',Times New Roman;
font-size   : 12px;
color   : #000;
border  : 0px solid #0f0;
text-decoration:underline;
margin      : 0px;
padding     : 0px;

}

#AccSettings:hover { color:#ddd; }

/********************/
/** premier niveau **/
/********************/
#cssmenu ul,
#cssmenu li,
#cssmenu a.fNiv span, 
a.login-window  span,
#cssmenu a.fNiv, a.login-window{
  margin: 0;
  padding: 0;
  position: relative;
}

#cssmenu a.fNiv, a.login-window {
  background:none;
  color: black;
  display: inline-block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 12px;
  line-height: 49px;
  padding: 0 20px;
  text-decoration: none;
}

#cssmenu {
	position: relative;
	top: 0px;
	left: 0px;
  	height: 58px;
  	border-radius: 5px 5px 0 0;
  	-moz-border-radius: 5px 5px 0 0;
  	-webkit-border-radius: 5px 5px 0 0;
  	background: transparant;
  	border-bottom: 0px solid #0fa1e0;
	min-width: 1000px;
	border-bottom: 3px solid blue;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}

#cssmenu ul {
  list-style: none;
  position: absolute;
  left: 170px;
  top: 9px;
}
#cssmenu > ul {
  float: left;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #0fa1e0;
  margin-left: -10px;
}

#cssmenu > ul > li:first-child a {
  
}
#cssmenu > ul > li:last-child a {
  
}
#cssmenu > ul > li.active a {
  color: white;
  font-size: 15px;
  box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  background: #070707;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAxCAIAAACUDVRzAAAAA3NCSVQICAjb4U/gAAAALklEQVQImWNQU9Nh+v//PxMDw3+m//8ZkNj/mRgYIHxy5f//Z0BSi18e2TwS5QG4MGB54HL+mAAAAABJRU5ErkJggg==) 100% 100%; 
  background: -moz-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26262c), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -o-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -ms-linear-gradient(top, #26262c 0%, #070707 100%);
  background: linear-gradient(to bottom, #26262c 0%, #070707 100%);
}
#cssmenu > ul > li:hover > a {
  color: white;
  background: #070707;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAxCAIAAACUDVRzAAAAA3NCSVQICAjb4U/gAAAALklEQVQImWNQU9Nh+v//PxMDw3+m//8ZkNj/mRgYIHxy5f//Z0BSi18e2TwS5QG4MGB54HL+mAAAAABJRU5ErkJggg==) 100% 100%; 
  background: -moz-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26262c), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -o-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -ms-linear-gradient(top, #26262c 0%, #070707 100%);
  background: linear-gradient(to bottom, #26262c 0%, #070707 100%);
  box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
}
#cssmenu .has-sub {
  z-index: 1;
}

#cssmenu .has-sub:hover > ul {
  display: block;
}

#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
  background: #0fa1e0;
  border-bottom: 1px dotted #6fc7ec;
  filter: none;
  font-size: 11px;
  display: block;
  line-height: 120%;
  padding: 10px;
}
#cssmenu .has-sub ul li:hover a {
  background: #0c7fb0;
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}

#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssmenu .has-sub .has-sub ul li a {
  background: #0c7fb0;
  border-bottom: 1px dotted #6db2d0;
}
#cssmenu .has-sub .has-sub ul li a:hover {
  background: #095c80;
}




/*******************/
/** Login Popup (http://www.alessioatzeni.com/blog/login-box-modal-dialog-window-with-css-and-jquery/) **/
/*******************/

#PopupTitle {
	color: white;
	font-size: 22px;
	margin-left: 16px;
}

.textbox {
	margin-top: 15px;
}

/* Mask for background, by default is not display */
#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

/* You can customize to your needs  */
.login-popup{
	height: 300px;
	display:none;
	background: #333;
	padding: 10px; 	
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999; /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
        -moz-border-radius: 3px; /* Firefox */
        -webkit-border-radius: 3px; /* Safari, Chrome */
}

.close {
	position:relative;
	left: 280px;
	margin: 0px 280px 0 0;
}

.username{
	padding-bottom:17px;
}
.password{
	padding-bottom:13px;
}

fieldset { 
	border:none; 
}

form.signin .textbox label { 
	display:block; 
}

form.signin .textbox span { 
	display:block;
}

form.signin p, form.signin span { 
	color:#999; 
	font-size:12px; 
	line-height:18px;
} 

form.signin .textbox input { 
	background:#666666; 
	border-bottom:1px solid #333;
	border-left:1px solid #000;
	border-right:1px solid #333;
	border-top:1px solid #000;
	color:#fff; 
        border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px;
        -webkit-border-radius: 3px;
	font:13px Arial, Helvetica, sans-serif;
	padding:6px 6px 4px;
	width:270px;
}

form.signin input:-moz-placeholder { color:#bbb; text-shadow:0 0 2px #000; }
form.signin input::-webkit-input-placeholder { color:#bbb; text-shadow:0 0 2px #000;  }

.textbox button.submit.button{
	margin-top: 5px;
	padding: 4px 10px;
	float: right;
}

#forget, #notmember {
background  : none;
cursor  : pointer;
font-family : arial;
font-size   : 12px;
color   : #fff;
border  : 0px solid #0f0;
text-decoration:underline;
margin      : 0px;
padding     : 0px;
}

#notmember {
	margin-top: 8px;
}

#forget:hover, #notmember:hover { color:#ddd; }

/* ==================== Forget PW ==================== */
form.forgetpw .textbox label { 
	display:block; 
	padding-bottom:13px;
}

form.forgetpw .textbox span { 
	display:block;
}

form.forgetpw p, form.signin span { 
	color:#999; 
	font-size:11px; 
	line-height:18px;
} 

form.forgetpw .textbox input { 
	background:#666666; 
	border-bottom:1px solid #333;
	border-left:1px solid #000;
	border-right:1px solid #333;
	border-top:1px solid #000;
	color:#fff; 
        border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px;
        -webkit-border-radius: 3px;
	font:13px Arial, Helvetica, sans-serif;
	padding:6px 6px 4px;
	width:270px;
}

form.forgetpw input:-moz-placeholder { color:#bbb; text-shadow:0 0 2px #000; }
form.forgetpw input::-webkit-input-placeholder { color:#bbb; text-shadow:0 0 2px #000;  }

form.forgetpw .textbox button.send.button{
margin-top: 5px;
padding: 4px 10px;
float: right;
}

#TBLabel{
	color:#999;
	font-size:14px; 
	font-family:Arial,Helvetica,sans-serif;
}



/*******************/
/** Register **/
/*******************/

#wholetable
{
	text-align:center; 
	margin-left:auto; 
    	margin-right:auto;
	margin-top:1cm;
}
	
td#wholetabletd
{
	width:350px;
}

#accountinfo
{
    	background: -moz-linear-gradient(top, #AFEEEE 0%, #FFFFFF 100%); /* FF3.6+ */
    	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #AFEEEE), color-stop(100%, #FFFFFF)); /* Chrome,Safari4+ */
    	background: -webkit-linear-gradient(top, #AFEEEE 0%, #FFFFFF 100%); /* Chrome10+,Safari5.1+ */
    	background: -o-linear-gradient(top, #AFEEEE 0%, #FFFFFF 100%); /* Opera 11.10+ */
    	background: -ms-linear-gradient(top, #AFEEEE 0%, #FFFFFF 100%); /* IE10+ */
    	background: linear-gradient(top, #AFEEEE 0%, #FFFFFF 100%); /* W3C */ 
	color:black;
}


#personalinfo
{
    	background: -moz-linear-gradient(top, #00BFFF 0%, #FFFFFF 100%); /* FF3.6+ */
    	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00BFFF), color-stop(100%, #FFFFFF)); /* Chrome,Safari4+ */
    	background: -webkit-linear-gradient(top, #00BFFF 0%, #FFFFFF 100%); /* Chrome10+,Safari5.1+ */
    	background: -o-linear-gradient(top, #00BFFF 0%, #FFFFFF 100%); /* Opera 11.10+ */
    	background: -ms-linear-gradient(top, #00BFFF 0%, #FFFFFF 100%); /* IE10+ */
    	background: linear-gradient(top, #00BFFF 0%, #FFFFFF 100%); /* W3C */ 
	color:black;
}

#tbname
{
	width:140px;
}

#confirm
{
    	background: -moz-linear-gradient(top, #FFDAB9 0%, #FFFFFF 100%); /* FF3.6+ */
    	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFDAB9), color-stop(100%, #FFFFFF)); /* Chrome,Safari4+ */
    	background: -webkit-linear-gradient(top, #FFDAB9 0%, #FFFFFF 100%); /* Chrome10+,Safari5.1+ */
    	background: -o-linear-gradient(top, #FFDAB9 0%, #FFFFFF 100%); /* Opera 11.10+ */
    	background: -ms-linear-gradient(top, #FFDAB9 0%, #FFFFFF 100%); /* IE10+ */
    	background: linear-gradient(top, #FFDAB9 0%, #FFFFFF 100%); /* W3C */ 
	color:black;
}

#tnc
{
	width:300px;
}

#Session
{
	font-weight:bold;
	height: 40px;
}

#accountinfo td
{
	
}

div.table-foreground{
position:absolute;
}

div.table-foreground img{
position:absolute;
}

#Validation {
font:13px Arial, Helvetica, sans-serif;
border: 1px solid;
margin: 10px 0px;
padding:5px 10px 5px 50px;
background-repeat: no-repeat;
background-position: 9px center;
color: #D63301;
background-color: #FFCCBA;
background-image: url('Validate/Validate.png');
}

.nfooter{
font-size: 10px;
position: fixed;
width: 100%;
padding-top: 2px;
padding-bottom: 2px;
bottom: 0;
left: 0;
top: auto;
background: white;
text-align: center;
border-top: 2px solid #D4DCDE;
display: inline;
vertical-align: middle;
}

.nfooter div{
font-size:10;
width:90%;
margin-left:auto;
margin-right:auto;
height: 100%;
vertical-align: middle;
}

.nfooter a{
text-decoration: none;
}